**Задание 1**

Ответьте на следующие вопросы:

* Как критики относятся к спортивным играм?

* Критикам нравятся больше игры на PC или на PS4?

* Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

сформулируйте нулевую и альтернативную гипотезы;
выберите пороговый уровень статистической значимости;
опишите полученные результаты статистического теста.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vgsales.csv')
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.dropna()
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,2007.436777,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,174.722344
std,4.211248,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,587.428538
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2004.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,11.000000
50%,2007.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,27.000000
75%,2011.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,89.000000
max,2016.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,10665.000000

Среднее по всем играм - 70, так что ставим условие выше этого среднего   
H0: средняя удовлетворенность критиками спортивными играми <= 70  
H1: средняя удовлетворенность критиками спортивными играми более 70

In [4]:
df_sport = df[df['Genre'] == 'Sports']
df_sport

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16148,Don Bradman Cricket 14,PS3,2014.0,Sports,Tru Blu Entertainment,0.00,0.01,0.00,0.00,0.01,73.0,5.0,6.9,55.0,Big Ant Studios,E
16233,Madden NFL 13,PS3,2012.0,Sports,Electronic Arts,0.00,0.01,0.00,0.00,0.01,83.0,22.0,5.5,101.0,EA Tiburon,E
16380,Tiger Woods PGA Tour 2005,PC,2004.0,Sports,Electronic Arts,0.00,0.01,0.00,0.00,0.01,91.0,16.0,4.5,39.0,Headgate,E
16532,Pro Evolution Soccer 2010,PC,2009.0,Sports,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,78.0,8.0,6.9,49.0,Konami,E
16550,Wade Hixton's Counter Punch,GBA,2004.0,Sports,"Destination Software, Inc",0.01,0.00,0.00,0.00,0.01,78.0,13.0,9.5,4.0,Inferno Games,T

In [5]:
df_sport.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000
mean,2006.812301,0.485175,0.262386,0.036628,0.099735,0.884252,74.170732,23.345705,45.281018
std,4.059768,1.572379,1.168906,0.242133,0.355126,3.171441,13.187667,13.844270,93.309239
min,1998.000000,0.000000,0.000000,0.000000,0.000000,0.010000,19.000000,4.000000,4.000000
25%,2003.000000,0.100000,0.010000,0.000000,0.010000,0.170000,68.000000,13.000000,8.000000
50%,2006.000000,0.210000,0.060000,0.000000,0.030000,0.390000,77.000000,21.000000,17.000000
75%,2010.000000,0.480000,0.200000,0.000000,0.080000,0.865000,83.000000,31.000000,41.000000
max,2016.000000,41.360000,28.960000,3.770000,8.450000,82.530000,98.000000,75.000000,1290.000000

In [6]:
from scipy import stats as st
alpha = 0.05
result = st.ttest_1samp(df_sport['Critic_Score'], 70, alternative='greater')

print(df_sport['Critic_Score'].mean())
print(result)

if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, среднее больше 70 (игры нравятся)')
else:
    print('Не отвергаем нулевую гипотезу')

74.17073170731707
Ttest_1sampResult(statistic=9.71180901421307, pvalue=1.2889782818622617e-21)
Отвергаем нулевую гипотезу, среднее больше 70 (игры нравятся)

Получается, что в среднем критики ставят высокие оценки спортивным играм

H0: оценки критиков игры на PC не отличаются от оценок игр на PS4   
H1: оценки критиков игры на PC отличаются от оценок игр на PS4

In [12]:
df_pc = df[df['Platform'] == 'PC'][['Critic_Score']]
df_pc

       Critic_Score
85             86.0
138            93.0
192            88.0
218            93.0
284            96.0
...             ...
16624          80.0
16644          51.0
16696          80.0
16700          61.0
16706          60.0

[651 rows x 1 columns]

In [11]:
df_ps = df[df['Platform'] == 'PS4'][['Critic_Score']]
df_ps

       Critic_Score
42             97.0
77             82.0
92             83.0
94             85.0
105            87.0
...             ...
16137          66.0
16490          42.0
16503          70.0
16530          61.0
16534          51.0

[239 rows x 1 columns]

In [13]:
st.ttest_ind(df_pc, df_ps)

Ttest_indResult(statistic=array([4.17122694]), pvalue=array([3.32704805e-05]))

pvalue меньше 0.05 - различия не существенны

In [ ]:
df[df['Genre'] == 'Sports']